@import './base/normalize';
@import './base/settings';
@import './base/base';
@import './base/grid';

.content {
    min-height: calc(100vh - 10rem);
}

.heading_1 {
    font-size: $l-size;
}

.f-primary-color {
    color: $white;
}

.text {
    &-centered {
        text-align: center;
    }
}

.header {
    background: $dark-blue;
    margin-bottom: $l-size;
    &__content {
        padding: $l-size 0;
    }
    &__title {
        margin: 0;
        color: $white;
        text-decoration: none;     
    }
    &__subtitle {
        margin: 0;
        color: $off-white; 
    }
  }

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $light-grey;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    &-image {
        max-width: 100%;
        height: auto;
    }
    &-body {
        flex: 1 1 auto;
        padding: 1.25rem;
    }
    &-title {
        margin: 0 0 $s-size;
        line-height: 1;
    }
}

.mb-m {
    margin-bottom: $m-size;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.justify-content-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.page {
    &-item {
        margin: 0 $m-size;
        &:last-child .page-link {
            border-right: none;
        }
    }
    &-label {
        display: inline-block;
        font-weight: bold;
        color: $white;   
        padding: $s-size 0;  
    }
    &-link {
        display: inline-block;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-property: background-color;
        transition-property: background-color;
        box-shadow: inset 0 0 0 4px $white, 0 0 1px rgba(0, 0, 0, 0);
        text-align: center;
        min-width: 3em;
        padding: $s-size;
        text-decoration: none;
        font-weight: bold;
        color: $white;
        &:hover, &-active {
            background-color: $white;
            color: $blue;
        }
    }
}

.shadow {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.footer {
    height: 10rem;
    background-color: $dark-grey;
    &__text {
        color: $off-white;
    }
}


/* LOADER */

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


@include desktop {
    .col-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
