.container {
    margin: 0 auto;
    padding: $s-size;
    max-width: 80rem;
    &-flex {
        padding: 0 $m-size;
        display: flex;
        flex-wrap: wrap;  
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}