//Typography
$primary_font: Helvetica, Arial, sans-serif;
// Colors
$primary-color: #1c88bf;
$secondary-color: #693cad;

$dark-grey: #333;
$grey: #666;
$light-grey: #EBECF0;
$blue: #1c88bf;
$dark-blue: #0079BF;
$off-white: #f7f7f7;
$white: #fff;
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//$desktop-breakpoint: 45rem;
$desktop-width: 45rem;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
